doctype html
html.no-js
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/view.css')
    link(rel='stylesheet', href='/stylesheets/pace-theme-fill-left.tmpl.css')
    
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/modernizr.custom.min.js')
    script(src='/js/lib/highlight.pack.js')
    script(src='/js/lib/greensock/TweenMax.min.js')
    script(src='/js/pace.js')
    script(src='/scrollmagic/uncompressed/ScrollMagic.js')
    script(src='/scrollmagic/uncompressed/plugins/animation.gsap.js')
    script(src='/scrollmagic/uncompressed/plugins/debug.addIndicators.js')
      
  body
    block content