extends layout2

block content

   div.spacer.s0
   
   #parallax1.parallaxParent
     div(style='background-image: url(/images/example_parallax_bg1.png)')
     
   div.spacer.s0
    div.box2.blue
     p.
       Content 1
       
   div.spacer.s0
   
   #parallax2.parallaxParent
     div(style='background-image: url(/images/example_parallax_bg2.png)')
   
   div.spacer.s1
    div.box2.blue
     p.
       Content2
       
   div.spacer.s0
   
   #parallax3.parallaxParent
    div(style='background-image: url(/images/example_parallax_bg3.png)')

   div.spacer.s1
    div.box2.blue
     p.
       Content 3   
   
   #parallax4.parallaxParent
    div(style='background-image: url(/images/img1.jpg);')
    
   div.spacer.s1
    div.box2.blue
     p.
       Content 4
          
   #parallax5.parallaxParent
    div(style='background-image: url(/images/img2.jpg);')

   div.spacer.s1      
    div.box2.blue
     p.
       Content 5
          
   #parallax6.parallaxParent
    div(style='background-image: url(/images/img3.jpg);')
   div.spacer.s2      
