extends layout

block content

 div.paceDiv

   section
    form.move
     fieldset
      legend Anchor Links
      p#menu1
       a(href='#pinContainer') 상위 슬라이드
      p#menu2
       a(href='#trigger1') CSS 토글
      p#menu3
       a(href='#trigger2') box 색변환
      p#menu4
       a(href='#triggerPin') Pin/Unpin
      p#menu5
       a(href='#trigger3') box 움직이기

   #pinContainer
     section.panel.blue
       b ONE
     section.panel.turqoise
       b TWO
     section.panel.green
       b THREE
     section.panel.bordeaux
       b FOUR
   script
     include ../public/js/view.js
    
    
    #trigger1
     #animateArea1.animateArea
      #animate1.box1.red
       p.
         Zap

   .spacerArea    
    
    #trigger2
     #animateArea2.animateArea
      #animate2.box1.green
       p.
        This is a grey area
    
    #triggerPin
     #animateAra3.animateArea
      #pin.box1
       p
       img(src='/images/7.gif',alt='움짤')
       
   .spacerArea
   
    #trigger3

      #animate3.box1.red
       p Let's draw!    
       
