extends layout

block content

   #pinContainer
     section.panel.blue
       b ONE
     section.panel.turqoise
       b TWO
     section.panel.green
       b THREE
     section.panel.bordeaux
       b FOUR
   script
     include ../public/js/view.js
    