extends scroll_header

block content

   div#pagepiling
    div#section.section(style='padding-left:100px;')
     h1 pagePilling
     p Create an origianl scrolling site

    div#section2.section
     div#colors
      h1 jQuery plugin
      p 테스트2
    
    div#section3.section
     div.intro(style='padding-left:100px;')
      h1 Configurable
      p 세번째 페이지
    
    div#section4.section
     div.intro(style='padding-left:100px;')
      h1 Compatble
      p 네번째 페이지
    div#section5.section
     div
      h1 5번째